.row
  .span4

      form(action='/ChangePassword', method='POST')
        legend Change Password
        .form-group
          label(for='email') Email
          input.form-control(type='text', name='email', autofocus)
        button.btn.btn-primary(type='submit') Reset Password
