
table#display_posts(cellspacing='0', width='100%')
  thead
    tr
      th Post Type
      th Description of Item
      th Posted
      th.table-cell-centre View Details
  for post in user_posts
    tr
      td #{post.messagetype}
      td #{post.shortdescription}
      td #{moment(post.timestamp).format('dddd, MMMM Do YYYY')}
      td.table-cell-centre
        a(href='edit_post/' + post._id)
          img(src='/images/details_open.png', title='edit details', alt='edit details')

block scripts
  script.
    $(document).ready(function() {
      $('#display_posts').DataTable();


    } );
