extends layout
block content
  .container
    p
    .row
      .span6
          form(action='/view_post' method='POST')
            p
            table#browse.display(class="table", cellspacing='0', width='100%')
              thead
                tr
                  th Post Type
                  th Title
                  th Description of Item
                  th Posted
                tr
                  td #{posts.messagetype}
                  td #{posts.shortdescription}
                  td #{posts.longdescription}
                  td #{moment(posts.timestamp).format('dddd, MMMM Do YYYY')}

            br
            img#post-image(src='' + posts.image_url)
            p
            a.btn.btn-warning(href='/view_post/' +posts._id, role='button') Edit Post
            | &nbsp; &nbsp;
            a.btn.btn-danger(href='/expire_post/' +posts._id, role='button') Remove Post
            | &nbsp; &nbsp;
            a.btn.btn-outline-primary(href='/home', role='button') Go Back
            br
            p
            | Click Edit Post to change the description
            p
            | Click Remove Post to remove it from public view
            p
            | Click go back to where you came from
  br


  p
