extends layout
block content
  .container
    .row
      .span4
        
          form(action='/ForgotPassword', method='POST')
            legend Forgotten Password
            .form-group
              label(for='email') Enter your Email address and you will be sent a link to reset your password
              input.form-control(type='text', name='email', autofocus)
            button.btn.btn-primary(type='submit') Reset Password
