extends layout

block content

  .container

    .alert(class="alert-danger", role="alert", id="error-group", style="display: none")
          ul(id="errors")
    .form-style-5
          form(method='POST')
            legend Reset Password
            .form-group
              label(for='password') New Password
              input.form-control(type='password', id='password', value='', autofocus='true')
            .form-group
              label(for='confirm') Confirm Password
              input.form-control(type='password', id='confirm', value='')
            .form-group
              button.btn.btn-primary(type='submit') Update Password
            