extends layout

block content

  .container

    .alert(class="alert-danger", role="alert", id="error-group", style="display: none")
          ul(id="errors")
    .form-style-5
          form(method='POST')
            legend Reset Password
            input(type='password', id='password', name='password', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}', placeholder='Password (must contain 8 or more characters)', required='', onkeyup='check();')
            input(type='password', name='confirm', id='confirm', placeholder='Confirm Password', required, onkeyup='check();') 
            #matching-message
            |
            br
          
            input(type='submit', value='Update Password')
            |
            |
            #message
              h5 Password must contain the following:
                |
                p#letter.invalid
                  | A 
                  b lowercase
                  |  letter
                |
                p#capital.invalid
                  | A 
                  b capital (uppercase)
                  |  letter
                |
                p#number.invalid
                  | A
                  b  number
                |
                p#length.invalid
                  | Minimum
                  b  8 characters
block scripts
  script(src='/javascripts/validation.js')
  script(src='/javascripts/matching.js')
  link(rel='stylesheet', href='/stylesheets/style-password.css')
            