
extends layout

block content

  .container
    .tab
      button#defaultOpen.tablinks(onclick="openPosts(event, 'home')") Home
      button.tablinks(onclick="openPosts(event, 'browseitems')") Browse Items
      button.tablinks(onclick="openPosts(event, 'offeritem')") Offer an Item
      button.tablinks(onclick="openPosts(event, 'requestitem')") Request an Item
      button.tablinks(onclick="openPosts(event, 'myrecycle')") My Recycling
      button.tablinks(onclick="openPosts(event, 'mysettings')") My Settings
      button.tablinks(onclick="openPosts(event, 'announcements')") Announcements

    #offeritem.tabcontent
      .form-style-5
          form(action='/adverts', method='POST enctype="multipart/form-data"')
            fieldset
              legend
                span.number 1
                |  Offer an Item
              input(type='text', name='shortdescription', placeholder='Short description', required, autofocus)
              textarea(name='longdescription', placeholder='Please add more details here', required)
              p You can add one or more pictures

            | Add a picture - we can accept jpg, png or gif up to 7mb in size
          form(action='/images', method='POST enctype="multipart/form-data"')
            fieldset
              legend
              input(type= 'file', name='image')
              input(type= 'submit', value='Add this Picture')
              p
              input(type='submit', value='Make the Post')


            span.clearfix

      if (locals.message)
        .alert.alert-success(role='alert')
          strong Welcome!
          |  Please make a selection
      if (locals.post)
        .alert.alert-success(role='alert')
          strong Thank you!
          |  You have posted successfully

      #recentPost
        | recent Post

    #mydetails.tabcontent
      p my details
    #recyclehelp.tabcontent
      p help section




block scripts
  script(src='/javascripts/tabs.js')
