extends layout

block content
	.container
		.form-style-5
			form(action='/login', method='POST')
				fieldset
					legend
						span.number 1
						|  Log in to recycle
					input(type='text', name='username', placeholder='Username', required, autofocus)
					input(type='password', name='password', placeholder='Password', required)
				input(type='submit', value='Log In')
				span.clearfix
					a.button-blue(href='/signup') Create an account
					p
					| &nbsp;
					if success && success.length > 0
						.alert.alert-success(role="alert")
							strong Success!
							| #{success}
					if error && error.length > 0
						.alert.alert-danger(role="alert")
							strong Alert!
							| #{error}
					if message && message.length > 0
						.error.alert.alert-danger(role='alert') #{message}