block content
  .container
    p Welcome to the TLERA recycling portal.
    p You can post items that you no longer want and you think might be useful to other TLERA residents. You can also request items that you might need.
    p Now that you have logged in, you can use the menu above to...
    p Browse current Offers and Requests to see what's available or needed near you.
    p Make a new Offer or Request for an item.
    P Check for replies to Offers and Requests you've already made.
    p Check and change your settings.
    p If you get stuck please 
      a(href='mailto:webmaster@tewkesburylodge.org.uk?TLERA ReCycle Enquiry') Contact Us.
