doctype html
html
	head
		title TLERA :: RecCycle
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style-custom.css')
		link(rel='stylesheet', href='/stylesheets/style-forms.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
		link(rel='stylesheet', href='netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='netdna.bootstrapcdn.com/font/awesome/4.0.3/css/font-awesome.min.css')
	body
		.banner
			.banner-centered-pacifico
				| ReCycle on the Hill
				br
			.banner-centered-roboto
				| A website for Tewkesbury Lodge residents to exchange unwanted items
		block content
		script(src='https://code.jquery.com/jquery-2.2.4.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		block scripts
		block foot
			#footer
				p &copy; 2018 Tewkesbury Lodge Residents Association
