.form-style-4
    form(action='/leave-recycle' method='POST')
      legend Close your TLERA ReCycle Account
      p
      | If you click the button below all of your open posts and your personal details will be removed. You
      | will need to create a new account if you wish to make posts in the future.
      p
      | &nbsp;


      .form-group
        button.btn.btn-primary(type='submit') Leave TLERA ReCycle
p
| &nbsp;
