.form-style-5
  form(action='/adverts', method='POST')
      fieldset
        legend
          span.number 1
          |  Make a New Post
        select#dropDown-message-type(name='messagetype')
          option What type of post is this?
          option(value='offer') It's an OFFER of an item
          option(value='wanted') It's a request for a WANTED item
        input(type='text', name='shortdescription', placeholder='Short description', required, autofocus)
        textarea(name='longdescription', placeholder='You can add more details here', required)
        #div1.drop-down-show-hide div 1
        #div2.drop-down-show-hide div 2
      input(type='submit', value='Make the Post')
      #offer.drop-down-show-hide
        image-button.button-green
          span.glyphicon.glyphicon-pencil
          | Choose a file
        p Add a picture - we can accept jpg, png or gif up to 7MB in size.
