p
table#browse_recent.display(cellspacing='0', width='100%')
  thead
    tr
      th Post Type
      th Description of Item
      th Posted


      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
      link(rel='stylesheet', href='https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css')
      script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.min.js')
      script(type='text/javascript', src='http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
      script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
      script(type='text/javascript', src='http://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js')
      script(type='text/javascript', src='http://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js')
      script(type='text/javascript', src='https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js')

script.


  $(document).ready(function() {


    $('#browse_recent').DataTable({
      "processing": true,
      "serverSide": true,
      "select": true,
      "ajax":  "/recent_posts",
      "rowCallback": function( row, data ) {
            if ( $.inArray(data.DT_RowId, selected) !== -1 ) {
                $(row).addClass('selected');
            }
        },
      columns: [

          {'data': 'messagetype'},
          {'data': 'shortdescription'},
          {'data': 'timestamp'},


          ]



    });



  });










span.clearfix
